---
interface Props {
  name: string;
  src: string;
  alt: string;
  tecnology: string;
  text: string;
  href: string;
  state: string;
}

const { name, src, alt, tecnology, text, href, state } = Astro.props;
---

<li class="w-full md:w-[19rem] h-auto list-none bg-[#d8c4b6] text-[#212121]">
  <div class="w-full h-auto p-4 -mt-10">
    <img {src} {alt} />
  </div>
  <div class="text-center bg-[#d8c4b6]">
    <h2 class="font-medium text-left pl-4 uppercase">tecnologías aplicadas:</h2>
    <ul>
      <li
        class="m-0 p-2 bg-[#f5efe7] text-xs font-normal tracking-wide uppercase"
      >
        {tecnology}
      </li>
    </ul>
    <h2 class="font-medium text-left pl-4 uppercase">
      Empresa u Organización:
    </h2>
    <p class="animate-text-deg text-xl uppercase font-bold tracking-wider">
      {name}
    </p>
    <p
      class="w-full bg-[#f5efe7] mt-2 p-2 font-light tracking-wide text-left text-sm"
    >
      {text}
    </p>
  </div>
  <a
    {href}
    target="_blank"
    title="Sitio web de la empresa u organizacion"
    class="tracking-wider hover:font-bold uppercase py-4 block text-center"
  >
    {state}</a
  >
</li>
<style>
  img {
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
  }
  @media (min-width: 768px) {
    a {
      transition: box-shadow 0.3s ease-in-out;
    }
    a:hover {
      box-shadow: 7px 10px 0 0 var(--gray-dark-color);
    }
  }
</style>
