---
import GitHub from "../components/GitHub.astro";

interface Props {
  name: string;
  languages: string;
  src: string;
  alt: string;
  href: string;
}

const { name, languages, src, alt, href } = Astro.props;
---

<li class="float-left p-0 relative overflow-hidden">
  <img class="w-[350px] m-0 p-0 float-left z-0" {src} {alt} />
  <div class="caption absolute opacity-0 top-[300px]">
    <div class="bg-[#213555] w-[350px] h-[300px] absolute z-[5]"></div>
    <a {href} target="_blank" title="Enlace del repositorio en GitHub">
      <div class="caption-text">
        <h2 class="text-lg font-semibold capitalize tracking-wide">
          {name}
        </h2>
        <p class="text-xs font-light mb-1 uppercase tracking-wider">
          {languages}
        </p>
        <span class="flex justify-center pb-4">
          <GitHub />
        </span>
      </div>
    </a>
  </div>
</li>

<style>
  li:hover .caption {
    opacity: 1;
    transform: translateY(-170px);
  }

  li:hover img {
    opacity: 1;
    transform: translateY(-40px);
  }

  .caption {
    transition: all 0.2s ease-in-out;
  }
  img {
    transition: all 0.2s ease-in-out;
  }

  .caption-text {
    width: 350px;
    height: 300px;
    color: white;
    text-align: center;
    position: absolute;
    top: 15px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
  }
  .caption-text:hover {
    color: var(--navy-color);
  }
</style>
