---
import GitHub from "../components/GitHub.astro";

interface Props {
  name: string;
  languages: string;
  src: string;
  alt: string;
  href: string;
}

const { name, languages, src, alt, href } = Astro.props;
---

<li class="float-left p-0 relative overflow-hidden">
  <img
    class="object-cover max-w-full w-[18.2rem] h-[18.2rem] m-0 p-0 float-left z-0"
    {src}
    {alt}
  />
  <div
    class="caption absolute opacity-0 top-[12rem] left-[-6%] md:left-0 right-0"
  >
    <div class="w-[18.2rem] h-[18.2rem] absolute z-[5]"></div>
    <a {href} target="_blank" title="Enlace del repositorio en GitHub">
      <div
        class="w-[18.2rem] h-[18.2rem] caption-text text-[#212121] items-center text-center absolute top-4 z-10 hover:text-[#f5efe7]"
      >
        <h2 class="text-lg font-semibold capitalize tracking-wide">
          {name}
        </h2>
        <p class="text-xs font-light mb-1 uppercase tracking-wider">
          {languages}
        </p>
        <span class="flex justify-center pb-4">
          <GitHub />
        </span>
      </div>
    </a>
  </div>
</li>

<style>
  li:hover .caption {
    opacity: 1;
    transform: translateY(-26px);
  }

  li:hover img {
    opacity: 1;
    transform: translateY(-40px);
  }

  .caption {
    transition: all 0.2s ease-in-out;
  }
  .caption > div {
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
    background-size: 40rem;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 100%, 0 100%, 0% 20%);
  }
  img {
    transition: all 0.2s ease-in-out;
  }

  .caption-text {
    transition: all 0.3s ease-in-out;
  }
</style>
