---
interface Props {
  name: string;
  src: string;
  alt: string;
  tecnology: string;
  text: string;
  href: string;
}

const { name, src, alt, tecnology, text, href } = Astro.props;
---

<li
  class="w-[19rem] h-[32rem] list-none bg-[#d8c4b6] text-white overflow-hidden relative"
>
  <div class="w-full h-[15rem] p-4">
    <img {src} {alt} class="bg-top md:hover:scale-150 md:transition-all" />
  </div>
  <div class="text-center bg-[#d8c4b6] absolute z-20 py-4 bottom-3">
    <h2 class="font-medium text-left pl-4 capitalize text-[#213555]">
      tecnologías usadas:
    </h2>
    <ul class="mb-2 px-4">
      <li
        class="m-0 p-2 bg-white text-[#213555] text-xs font-light tracking-wide uppercase"
      >
        {tecnology}
      </li>
    </ul>
    <h2 class="font-medium text-left pl-4 text-[#213555]">
      Empresa u Organización:
    </h2>
    <p
      class="animate-text-deg text-xl uppercase font-bold tracking-wider text-[#213555]"
    >
      {name}
    </p>
    <p
      class="bg-white mx-4 mb-6 mt-2 text-[#213555] p-2 font-light tracking-wide text-left text-sm"
    >
      {text}
    </p>
    <a
      {href}
      target="_blank"
      title="Sitio web de la empresa u organizacion"
      class="border border-white tracking-wider text-[#213555] py-2 px-8 hover:bg-white transition-all hover:font-bold uppercase"
    >
      sitio web</a
    >
  </div>
</li>
