---
const nav = [
  {
    name: "¡hola!",
    href: "/",
  },
  {
    name: "proyectos freelance",
    href: "/proyectos-freelance",
  },
  {
    name: "trabajos dependientes",
    href: "/trabajos-dependientes",
  },
  {
    name: "proyectos open source",
    href: "/proyectos-open-source",
  },
  {
    name: "blog",
    href: "/blog",
  },
];
const navSocial = [
  {
    name: "linkedin",
    url: "https://www.linkedin.com/in/gilberto-la-rosa/",
    class: "hover:text-[#ef4e7b] duration-300",
  },
  {
    name: "x",
    url: "https://twitter.com/dev_gilberto",
    class: "hover:text-[#a166ab] duration-300",
  },
  {
    name: "github",
    url: "https://github.com/Dev-Gilberto",
    class: "hover:text-[#6fba82] duration-300",
  },
];

import { Icon } from "astro-icon/components";
---

<nav class="flex-none right-0 relative top-0 z-[100]">
  <div>
    <input
      id="responsive-menu"
      class="opacity-0 absolute -z-10"
      type="checkbox"
    />
    <label
      for="responsive-menu"
      class="items-center cursor-pointer flex justify-between py-[0.5em] px-0"
    >
      <!-- logo -->
      <a href="/" title="Logo Gilberto La Rosa">
        <Icon name="logo" size={60} />
      </a>
      <!-- texto -->
      <span class="animate-text-deg text-3xl uppercase font-black f"
        >(menu)</span
      >
      <!-- button -->
      <span id="menu-icon"></span>
    </label>
    <!-- menu  -->
    <div id="overlay"></div>
    <ul>
      {
        nav.map((item) => (
          <li>
            <a href={item.href}>{item.name}</a>
          </li>
        ))
      }
    </ul>
    <!-- redes sociales -->
    <!-- LinkedIn -->
    <ul id="social-media">
      {
        navSocial.map((itemli) => (
          <li>
            <a
              href={itemli.url}
              sr-only={itemli.name}
              target="_blank"
              title={itemli.name}
            >
              <Icon name={itemli.name} class={itemli.class} />
              <span class="screen-reader-text">{itemli.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
<style>
  .f {
    font-family: var(--font-title);
  }
  .screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
  }

  /*** LABEL ***/
  nav label {
    font: 2em/1 var(--Font-global);
  }

  /* Hamburger Icon */
  #menu-icon,
  #menu-icon:before,
  #menu-icon:after {
    background: var(--gray-dark-color);
    border-radius: 0.05em;
    height: 0.2em;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  #menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    max-width: 1em;
    position: relative;
  }

  #menu-icon:before,
  #menu-icon:after {
    content: "";
    left: 0;
    position: absolute;
  }

  #menu-icon:before {
    top: -0.4em;
  }

  #menu-icon:after {
    bottom: -0.4em;
  }

  /* Close Icon */
  nav input[type="checkbox"]:checked + label #menu-icon {
    background: transparent;
  }

  nav input[type="checkbox"]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
  }

  nav input[type="checkbox"]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
  }

  /*** MENU ***/
  /* Overlay */
  nav input:checked ~ #overlay {
    background: var(--hover-orange);
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
    transition: all 0.3s ease;
  }

  /* List */
  nav ul {
    font-size: 1.6em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    transition: all 0.3s ease;
  }

  nav input:checked ~ ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
  }
  nav ul > li {
    margin: 0.4em 0;
    transition: all 0.3s ease;
  }
  @media (min-width: 768px) {
    nav ul > li {
      margin: 0.03em 0;
    }
  }

  nav ul a {
    color: var(--gray-dark-color) !important;
    font-family: var(--font-nav);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    transition: text-decoration 0.3s ease-in-out;
  }

  @media (min-width: 768px) {
    nav ul a {
      font-size: 2.3em;
    }
  }

  nav ul a:hover {
    text-decoration: underline;
  }

  /* Social Media */
  nav ul#social-media > li {
    display: inline-block;
    margin: 0.5em;
  }
</style>
