---
import { formatpubDate } from "@assets/js/utils";

const { frontmatter, url } = Astro.props;

const { title, emojis, pubDate, image, description } = frontmatter;
---

<li class="rounded-xl bg-white p-4 sm:p-6">
  <article>
    <span class="inline-block text-5xl pt-2">{image.url}</span>

    <a href={url} title="Guía paso a paso para ser un desarrollador web">
      <h2
        class="my-4 text-3xl font-bold uppercase tracking-wide hover:text-[#f79533] transition duration-300"
      >
        <span class="md:hover:underline">{title}</span>{emojis}
      </h2>
    </a>

    <p class="mt-2 text-base font-light">
      {description}
    </p>

    <div
      class="text-sm font-medium uppercase mt-4 items-center flex justify-between"
    >
      <a
        href={url}
        title="Guía paso a paso para ser un desarrollador web"
        class="group inline-flex gap-1 hover:text-[#f79533] transition duration-300"
      >
        ver mas

        <span
          aria-hidden="true"
          class="block duration-300 group-hover:ms-0.5 rtl:rotate-180"
        >
          &#10145;
        </span>
      </a>
      <time datetime="" class="uppercase"
        >publicación: {formatpubDate(pubDate)}</time
      >
    </div>
  </article>
</li>

<style>
  li {
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }
  li:hover {
    box-shadow: 8px 10px 0 var(--hover-orange);
  }
</style>
