---
import { formatpubDate } from "@assets/js/utils";
import { formDataToObject } from "astro/actions/runtime/virtual/server.js";

import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
type Props = CollectionEntry<"blog">["data"];

const { title, image, pubDate, emojis, description } = Astro.props;
---

<li
  class="rounded bg-white p-4 sm:p-6 border border-[#212121] flex-1 flex mb-2"
>
  <article>
    <span class="inline-block text-5xl pt-2">{image}</span>

    <a href="" title="Guía paso a paso para ser un desarrollador web">
      <h2
        class="my-4 text-3xl font-[Antonio] font-bold uppercase tracking-wide hover:text-[#f79533] transition duration-150"
      >
        <span class="md:hover:underline">{title}</span>{emojis}
      </h2>
    </a>

    <p class="mt-2 text-sm font-light">
      {description}
    </p>

    <div
      class="text-sm font-medium uppercase mt-4 items-center flex justify-between"
    >
      <a
        href=""
        title="ver mas"
        class="group inline-flex gap-1 hover:text-[#f79533] transition duration-150 font-[Antonio] font-bold"
      >
        ver mas

        <span
          aria-hidden="true"
          class="block duration-150 group-hover:ms-1 rtl:rotate-180"
        >
          &#10145;
        </span>
      </a>

      <FormattedDate date={pubDate} />
    </div>
  </article>
</li>

<style>
  li {
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }
  li:hover {
    box-shadow: -10px 15px 0 var(--hover-orange);
  }
</style>
