---
import "@styles/BlogPosts.css";
import Layout from "@layout/Layout.astro";
import { slugify, formatpubDate } from "@assets/js/utils";
import SocialNetwork from "@components/SocialNetwork.astro";
import ButtonBack from "@components/ButtonBack.astro";
import Frases from "@components/Frases.astro";

const { frontmatter } = Astro.props;
console.log(frontmatter);

const { title, description, pubDate, author, url, tags } = frontmatter;
---

<Layout {title}>
  <section class="w-[90%] mx-auto my-8 md:w-3/5">
    <article>
      <h1 class="text-3xl md:text-7xl font-bold uppercase">
        {title}
      </h1>
      <!-- category -->
      <section>
        <small class="">
          <a
            class="flex justify-center gap-1 uppercase font-medium"
            href={`/tags/${slugify(tags)}`}>{tags}</a
          >
        </small>
      </section>
      <section>
        <p class="text-center text-lg">
          Escrito por: <span class="font-semibold">{author}</span>
        </p>
        <SocialNetwork />
      </section>
      <!-- divide whit fecha -->
      <span class="flex items-center my-4">
        <span class="h-px flex-1 bg-[#212121]"></span>
        <span class="shrink-0 px-6">{formatpubDate(pubDate)}</span>
        <span class="h-px flex-1 bg-[#212121]"></span>
      </span>
      <!-- content -->
      <slot />
    </article>
    <!-- divide whit rrss -->
    <span class="flex items-center my-8">
      <span class="h-px flex-1 bg-[#212121]"></span>
      <span class="shrink-0 px-6"><SocialNetwork /></span>
      <span class="h-px flex-1 bg-[#212121]"></span>
    </span>
    <Frases />
  </section>
  <span class="block text-right w-[60%] mx-auto mb-8">
    <ButtonBack />
  </span>
</Layout>
